<!doctype html>
<html>
    <head>
        <title>{% block title %}test site{% endblock %}</title>

        {% block header %}{% endblock %}
    </head>

    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>